# Core functionality - changes here should be rare!
/src/app.py                   @jannylund
/src/backend/database.py      @jannylund
/src/backend/routers/auth.py  @jannylund

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jannylund
